body {
    color: #393d40;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    -moz-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 70px;
}

h1, h2, h3, h4 {
    color: #575a5b;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 0.3125em;
    margin-top: 0;
}

@media (min-width: 900px) {
    body {
        font-size: 18px;
    }

    h1, h2, h3, h4 {
        line-height: 1.4;
    }

    .btn-font {
        font-size: 18px;
    }
}
@media (max-width: 900px) {
    body {
        font-size: 16px;
    }

    h1 {
        text-align: center;
        font-size: 27px;
    }

    h2 {
        text-align: center;
        font-size: 22px;
    }

    .btn-font {
        font-size: 16px;
    }
}

.container{
    min-width:340px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-header {
    margin-bottom: 45px;
}

.page-header h1{
    margin-bottom: 5px;
}

.paragraph-header {
    margin-bottom: 30px;
}

.paragraph {
    padding-bottom: 20px;
}

.paragraph-intro {

}

.paragraph-media {

}

.paragraph-text {
    padding-bottom: 40px;
}

.video {
    border-radius: 8px;
    padding: 0.6em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    background: #ffffff;
    width: 570px;
    height: 329px;
}

.controls-ovirview-image {
    border-radius: 8px;
    padding: 0.6em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    background: #ffffff;
    width: 480px;
    height: 1609px;
}

@media (min-width: 900px) {
    iframe {
        width: 550px;
        height: 309px;
    }

    .video {
        width: 570px;
        height: 329px;
    }

    .controls-ovirview-image {
        width: 380px;
        height: 1273px;
    }
}

@media (max-width: 900px) {
    iframe {
        width: 276px;
        height: 155px;
    }

    .video {
        width: 296px;
        height: 175px;
    }

    .controls-ovirview-image {
        width: 296px;
        height: 992px;
    }

    img {
        max-width: 276px;
    }
}


.btn-margin {
    margin-top: 5px;
    hidden: true;
}

.footer-contact-info {
    margin-top: 60px;
    padding-top: 20px;
    margin-bottom: 60px;
}

.bottom-placeholder {
    margin-bottom: 60px;
}